// Variables
$main-text-color: white;
$background-color: #141A15;
$title-color: white;
$accent-color: #cef278;
$accent-color-2: #28684A;
$accent-color-3: #1D3A24;
$accent-color-4: #369046;
$accent-color-5: #215E30;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin media-query($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

// Animations
@keyframes blink {
    50% {
        opacity: 0;
    }
}

// Reset
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;

    // Reset HTML5 display roles for older browsers
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
}

body {
    font-family: "League Spartan", sans-serif;
    line-height: 1;
    background-color: $background-color;
    color: $main-text-color;
    width: 100%;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;

    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Utility Classes
.date {
    border: 1px solid;
    border-radius: 15px;
    padding-block: 5px;
    padding-inline: 10px;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: -3px;
    right: -10px;
}

// Navigation
nav {
    position: relative;
    margin: auto;

    h1 {
        display: flex;
        font-size: 28px;
        padding-top: 25px;
        text-align: center;
    }

    ul {
        display: flex;
        padding-top: 15px;
        gap: 15px;
        margin: auto;

        @include media-query(444px) {
            gap: 25px;
            flex-direction: column;
        }

        li {
            font-size: 20px;
            text-align: center;

            a {
                color: $title-color;
                text-decoration: none;
                text-transform: uppercase;
                border: 1px solid $accent-color;
                border-radius: 10px;
                background-color: $accent-color-3;
                padding: 10px;
                z-index: 999;
                position: relative;
            }

            &:hover {
                text-decoration: underline double 2px $accent-color-2;
            }

            .fa-solid {
                font-size: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// Presentation
.Portrait {
    width: 365px;
}

.Presentation {
    @include flex-center;
    flex-direction: column;
    padding: 35px;

    .effet {
        font-size: 24px;
        color: green;

        &:last-child:after {
            animation: blink 1s infinite;
            content: "_";
            font-size: 24px;
        }
    }
}

.Navigation {
    @include flex-center;
    padding: 35px;
}

// Main Content
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    gap: 35px;

    h2 {
        font-size: 34px;
        text-transform: uppercase;
        text-decoration: underline double greenyellow;
        color: $title-color;
        display: flex;
    }

    .categories {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .containerApropos {
        border: 2px solid $accent-color;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background-color: $accent-color-3;
        padding: 15px;
        width: 70%;

        @include media-query(418px) {
            width: 100%;
        }

        .presentation {
            font-size: 30px;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .lien {
        border: 2px solid $accent-color;
        border-radius: 15px;
        background-color: $accent-color-3;
    }

    .Projets {
        display: flex;
        gap: 30px;
        text-align: center;
        max-width: 1440px;
        width: 98%;

        @include media-query(1423px) {
            flex-direction: column;
            width: 90%;            
            gap: 25px;
        }
    }

    .projet-1,
    .projet-2,
    .projet-3 {
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        border: solid 1px greenyellow;
        border-radius: 15px;
        padding: 10px;
        background-color: $accent-color-3;
        transition: 0.6s;
        width: 570px;

        @include media-query(1423px) {
            width: 100%;
        }

        h3 {
            font-size: 35px;
            text-transform: capitalize;
            padding: 5px;
        }

        &:hover {
            transition: 0.4s;
            transform: scale(1.05);
        }
    }
}

// Links
.lien {
    ul {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding: 15px;

        li {
            border: solid 1px $title-color;
            border-radius: 15px;
            padding: 10px;
            background-color: $accent-color-4;

            &:hover {
                background-color: $accent-color-3;
            }

            a {
                text-decoration: none;
                color: white;
                position: relative;
                z-index: 2;

                .fa-brands {
                    font-size: 35px;
                }
            }
        }
    }
}

// Particles Background
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

// Footer
footer {
    @include flex-center;
    flex-direction: column;
    padding-block: 55px;
    margin: auto;
    gap: 15px;

    p {
        font-size: 20px;
        font-weight: 500;
        font-style: italic;

        @include media-query(458px) {
            font-size: 100%;
        }
    }

    .perso {
        width: 155px;
    }
}

// Project Image
.imgProjet {
    width: 95%;
    height: 95%;
    border-radius: 10px;

    @include media-query(652px) {
        width: 100%;
        height: 100%;
    }
}

// Skills
.skills {
    display: flex;
    gap: 10px;
    padding: 25px;

    @include media-query(652px) {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 25px;
    }
}

.flex-item {
    @include flex-center;
    border: 1px solid greenyellow;
    border-radius: 15px;
    background-color: $accent-color-3;
    z-index: 2;

    .fa-brands {
        font-size: 35px;
        margin: auto;
        padding: 5px;
        color: white;
    }

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px;
    }

    h3 {
        font-size: 25px;
        text-transform: capitalize;
        margin: auto;
        font-family: 'Courier New', Courier, monospace;
        padding: 15px;
    }
}

.flex-item:hover {
    background-color: $accent-color-4;
}

.techno {
    display: flex;
    gap: 10px;
    border: 1px solid greenyellow;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    background-color: $accent-color-5;
}

.contenu {
    text-align: left;
}