@keyframes blink {
  50% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
* article,
* aside,
* details,
* figcaption,
* figure,
* footer,
* header,
* hgroup,
* menu,
* nav,
* section {
  display: block;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1;
  background-color: #141A15;
  color: white;
  width: 100%;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.date {
  border: 1px solid;
  border-radius: 15px;
  padding-block: 5px;
  padding-inline: 10px;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: -3px;
  right: -10px;
}

nav {
  position: relative;
  margin: auto;
}
nav h1 {
  display: flex;
  font-size: 28px;
  padding-top: 25px;
  text-align: center;
}
nav ul {
  display: flex;
  padding-top: 15px;
  gap: 15px;
  margin: auto;
}
@media only screen and (max-width: 444px) {
  nav ul {
    gap: 25px;
    flex-direction: column;
  }
}
nav ul li {
  font-size: 20px;
  text-align: center;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #cef278;
  border-radius: 10px;
  background-color: #1D3A24;
  padding: 10px;
  z-index: 999;
  position: relative;
}
nav ul li:hover {
  -webkit-text-decoration: underline double 2px #28684A;
          text-decoration: underline double 2px #28684A;
}
nav ul li .fa-solid {
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

.Portrait {
  width: 25%;
}
@media only screen and (max-width: 850px) {
  .Portrait {
    width: 35%;
  }
}
@media only screen and (max-width: 350px) {
  .Portrait {
    width: 45%;
  }
}

.Presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;
}
.Presentation .effet {
  font-size: 24px;
  color: green;
}
.Presentation .effet:last-child:after {
  animation: blink 1s infinite;
  content: "_";
  font-size: 24px;
}

.Navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  gap: 35px;
}
main h2 {
  font-size: 34px;
  text-transform: uppercase;
  -webkit-text-decoration: underline double greenyellow;
          text-decoration: underline double greenyellow;
  color: white;
  display: flex;
}
main .categories {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
main .containerApropos {
  border: 2px solid #cef278;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: #1D3A24;
  padding: 15px;
  width: 70%;
}
@media only screen and (max-width: 418px) {
  main .containerApropos {
    width: 100%;
  }
}
main .containerApropos .presentation {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
main .lien {
  border: 2px solid #cef278;
  border-radius: 15px;
  background-color: #1D3A24;
}
main .Projets {
  display: flex;
  gap: 30px;
  text-align: center;
  max-width: 1440px;
  width: 98%;
}
@media only screen and (max-width: 1423px) {
  main .Projets {
    flex-direction: column;
    width: 90%;
    gap: 25px;
  }
}
main .projet-1,
main .projet-2,
main .projet-3 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  border: solid 1px greenyellow;
  border-radius: 15px;
  padding: 10px;
  background-color: #1D3A24;
  transition: 0.6s;
  width: 570px;
}
@media only screen and (max-width: 1423px) {
  main .projet-1,
  main .projet-2,
  main .projet-3 {
    width: 100%;
  }
}
main .projet-1 h3,
main .projet-2 h3,
main .projet-3 h3 {
  font-size: 35px;
  text-transform: capitalize;
  padding: 5px;
}
main .projet-1:hover,
main .projet-2:hover,
main .projet-3:hover {
  transition: 0.4s;
  transform: scale(1.05);
}

.lien ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 15px;
}
.lien ul li {
  border: solid 1px white;
  border-radius: 15px;
  padding: 10px;
  background-color: #369046;
}
.lien ul li:hover {
  background-color: #1D3A24;
}
.lien ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 2;
}
.lien ul li a .fa-brands {
  font-size: 35px;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 55px;
  margin: auto;
  gap: 15px;
}
footer p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}
@media only screen and (max-width: 458px) {
  footer p {
    font-size: 100%;
  }
}
footer .perso {
  width: 155px;
}

.imgProjet {
  width: 95%;
  height: 95%;
  border-radius: 10px;
}
@media only screen and (max-width: 652px) {
  .imgProjet {
    width: 100%;
    height: 100%;
  }
}

.skills {
  display: flex;
  gap: 10px;
  padding: 25px;
}
@media only screen and (max-width: 652px) {
  .skills {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
  }
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid greenyellow;
  border-radius: 15px;
  background-color: #1D3A24;
  z-index: 2;
}
.flex-item .fa-brands {
  font-size: 35px;
  margin: auto;
  padding: 5px;
  color: white;
}
.flex-item p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}
.flex-item h3 {
  font-size: 25px;
  text-transform: capitalize;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  padding: 15px;
}

.flex-item:hover {
  background-color: #369046;
}

.techno {
  display: flex;
  gap: 10px;
  border: 1px solid greenyellow;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  background-color: #215E30;
}

.contenu {
  text-align: left;
}/*# sourceMappingURL=style.css.map */