@charset "UTF-8";
@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* Reset */
* {
  /* Réinitialisation du rôle d'affichage HTML5 pour les anciens navigateurs */
}
* html,
* body,
* div,
* span,
* applet,
* object,
* iframe,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p,
* blockquote,
* pre,
* a,
* abbr,
* acronym,
* address,
* big,
* cite,
* code,
* del,
* dfn,
* em,
* img,
* ins,
* kbd,
* q,
* s,
* samp,
* small,
* strike,
* strong,
* sub,
* sup,
* tt,
* var,
* b,
* u,
* i,
* center,
* dl,
* dt,
* dd,
* ol,
* ul,
* li,
* fieldset,
* form,
* label,
* legend,
* table,
* caption,
* tbody,
* tfoot,
* thead,
* tr,
* th,
* td,
* article,
* aside,
* canvas,
* details,
* embed,
* figure,
* figcaption,
* footer,
* header,
* hgroup,
* menu,
* nav,
* output,
* ruby,
* section,
* summary,
* time,
* mark,
* audio,
* video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
* article,
* aside,
* details,
* figcaption,
* figure,
* footer,
* header,
* hgroup,
* menu,
* nav,
* section {
  display: block;
}
* body {
  /* Google Fonts */
  font-family: "League Spartan", sans-serif;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.641);
  color: white;
}
* ol,
* ul {
  list-style: none;
}
* blockquote,
* q {
  quotes: none;
}
* blockquote:before,
* blockquote:after,
* q:before,
* q:after {
  content: "";
  content: none;
}
* table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-inline: 63px;
}
nav h1 {
  display: flex;
  font-size: 28px;
  padding-top: 5px;
  text-align: center;
}
nav ul {
  display: flex;
  gap: 45px;
  padding-top: 20px;
  align-items: center;
}
nav ul li {
  font-size: 20px;
}
nav ul li a {
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid greenyellow;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.767);
  padding: 10px;
}
nav ul li:hover {
  -webkit-text-decoration: underline 2px greenyellow;
          text-decoration: underline 2px greenyellow;
}
nav ul li .fa-solid {
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

.Portrait {
  width: 165px;
}

.Presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px double;
  border-radius: 5%;
  padding: 15px;
  background-image: url(./images/Background.webp);
  background-size: cover;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.Presentation .effet {
  font-size: 24px;
  color: yellow;
}
.Presentation .effet:last-child:after {
  animation: blink 1.5s infinite;
  content: "junior_";
  color: greenyellow;
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  border: 1px yellow solid;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.767);
}
main h2 {
  font-size: 34px;
  text-transform: uppercase;
  -webkit-text-decoration: underline double greenyellow;
          text-decoration: underline double greenyellow;
  padding-block: 15px;
  color: yellow;
}
main p {
  font-size: 28px;
  text-align: left;
  width: 75%;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  padding-bottom: 25px;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
footer p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */